.heading {

    width: 100%;
    font-size: 30px;
}

body {

    background-size: cover;
}

.copy_right_footer {

    text-align: center;
    font-size: 20px;
    width: 100%;
    background-color: gray;
    position: fixed;
    bottom: 0;

}